@use "styles/_mixins";

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 110rem;
  display: flex;
  align-items: center;
  flex-flow: column wrap;

  .nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 80px;
    width: 100%;
  }
}
